body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
header {
	background-color: #333;
	padding: 1rem;
	height: 5rem;
}
.hero {
	background-image: linear-gradient(to bottom, #333, #555);
	padding: 2rem;
	height: 20rem;
}
footer {
	background-color: #333;
	padding: 1rem;
	height: 5rem;
}
